@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    transition: 0.8s;
}
body{
    background-image: url(../imagenes/Textura_metalica.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.back{
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    width: 101%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.492);
}
.cont_gal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    width: 80vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.card1, .card2, .card3, .card4, .card5, .card6, .card7{
    background-size: cover;
    flex: 0.4;
    height: 80vh;
    border-radius: 50px;
    margin-right: 3vw;
    position: relative;
    background-position: center;
    overflow: hidden;
}
.card1:hover,.card2:hover,.card3:hover,.card4:hover, 
.card5:hover, .card6:hover, .card7:hover, .card8:hover{
    flex-grow: 3;
}
h1{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 0 50px 25px;
    font-family: sans-serif;
    font-weight: 900;
    color: white;
    font-size: 1.8rem;
    width: 100%;
    opacity: 0;
    background-image: linear-gradient(to top, rgb(0,0,0), rgba(0,0,0,0));
    transition: 0.5s;
    transition-delay: 0.2s;
}
.card1:hover h1,.card2:hover h1,.card3:hover h1,
.card4:hover h1,.card5:hover h1, .card6:hover h1, .card7:hover h1, .card8:hover h1{
    opacity: 1;
}

.card1{ background-image: url(../imagenes/Aero-atardecer.jpeg);}
.card2{ background-image: url(../imagenes/Imagen_index_rev.jpg);}
.card3{ background-image: url(../imagenes/Textura_metalica.JPG);}
.card4{ background-image: url(../imagenes/Index.jpg);}
.card5{ background-image: url(../imagenes/Textura_metalicaaa.jpg);}
.card6{ background-image: url(../imagenes/Nombre-de-empresa.png);}
.card7{ background-image: url(../imagenes/logo_horizontal_azul2x.png);}
.card8{ background-image: url(../imagenes/);}