/* VARIABLE GLOBARL PARA TODOS LOS MODALES */
:root {
    --bg-color: #fff;
    color: #06384C;
    --shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5);
}
.heading {
    position: relative;
    background-color: #fff;
    color: #06384C;
    mix-blend-mode: multiply;
}

.modal {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.2s ease;
}

/* CUANDO EL MODAL SE HABRE */
.modal.open {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
}

.modal_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    min-height: calc(100% - 3rem);
}

@media (max-width: 575.98px) {
    .modal_wrapper {
        margin: 0.5rem;
        min-height: calc(100% - 1rem);
    }
}

.modal_content {
    display: grid;
    justify-items: center;
    position: relative;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    width: 100vw;
    max-width: 576px;
    padding: 4rem;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.4s ease;
    line-height: 50px;
}

/* CONTENIDO DEL MODAL ABIERTO (MODAL_CONTENT) */
.modal.open .modal_content {
    transform: scale(1);
}

.modal_body {
    margin: 2rem 0 3rem;
}

.modal_body p {
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: 0.8px;
}

.close_btn {
    width: 100%;
    border-radius: 5px;
    width: 80%;
    height: 35px;
    border: 1px solid #06384C;
    color: #06384C;
    margin-top: 10px;
    cursor: pointer;
}

.option-role{
    width: 100%;
    height: 43px;
    color: black;
}

/*OTRA OPCION DE DISEÑO DE MODALS*/  
  .box .inputBox {
    position: relative;
  }
  
  .box .inputBox input {
    width: 100%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid #06384C;
    background: transparent;
    border-radius: 4px;
  }

  .box .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .box .inputBox input:focus ~ label,
  .box .inputBox input:valid ~ label,
  .box .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 10px;
    color: #008074;
    font-size: 0.75rem;
    background-color: white;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .box .inputBox input:focus {
    outline: none;
    border: 2px solid #008074;
  }
  
  .btn-cancel{
    margin-top: 20px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
  }

  .add-button{
    margin-top: 20px;
    width: 79%;
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
  }

  .add-button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }

  .badge-error {
    padding: 5px;
    border: 1px solid #e81a1a;
    color: #e81a1a;
    border-radius: 10px;
    font-size: 13px;
}


.badge-success {
  padding: 5px;
  border: 1px solid #22e588;
  color: #22e588;
  border-radius: 10px;
  font-size: 13px;
}