@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
body{
    background-image: url(imagenes/Img_index_gris.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.back{
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    width: 101%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.535);
}

/*IMAGEN Y FRASE DE LA EMPRESA AL FRNETE*/
.logo-titulo{
    display: flex;
    justify-content: center;
    text-align: center;
}
.logo-empresa{
    width: 700px;
}
.logo-empresa h2{
    text-align:justify;
    color: #06384C;
    font-size: 15px;
}
main{
    padding-top: 10%;
}
.menu a{
    color:#ffffff!important
}
@media screen and (max-width:321px ) {
    
    .siguenos-content{
    width: 100%;
    padding-right: 55px;
    color: #06384C;
    
    }
    .menu{
        display: none!important;
    }
    body{
        height: 100%;
    }
    .menu-display{
        justify-content: space-between!important;
    }
    
}
/*FIN DE IMAGEN Y FRASE DE LA EMPRESA AL FRENTE*/