@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-image: url(../imagenes/Textura_metalica.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
    position:relative;
}
.back{
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    width: 101%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.492);
}
.contenedor-display{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.containeres{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
}
.imagen{
    width: 48%;
}
.atardecer{
    border-radius: 20px;
    width: 75%;

}
.menu-display{
    display: flex;
    justify-content: flex-end;
}
.menu-bar{
    height: 90px;
}

.siguenos-content{
    line-height: 25px;
    width: 48%;
}
.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.testimony__texts{
    max-width: 700px;
    color: black;
    text-align: justify;
}
.testimony__course{
    background-color: #008074;
    color: white;
    display: inline-block;
    padding: 5px;
}
.testimony__review2{
    color: #008074;
}

/*BOTON CTA DE LO_QUE_HACEMOS*/
.cta {
    display: inline-block;
    background-color: #008074;
    justify-self: center;
    color:white;
    text-decoration: none;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    /*display: inline-block;
    background-color: #008074;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;*/
}

/* MEDIA QUERIES */
@media (max-width:800px){
    .testimony__body{
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 3em;
    justify-items:center ;
    }
    
    .testimony__img{
    width: 200px;
    height: 200px;
    }
}
@media screen and (max-width: 1024px){
   .siguenos-content h2{
       font-size: 2.4rem;
       margin: 8px 0;
   }
}
@media screen and (max-width: 900px){
    
}
@media screen and (max-width: 768px){
    .contenedor-display{
        flex-direction: column;
   }
   .imagen, .atardecer{
    width: 56%;
    margin-left: 114px;
    text-align: center;
    

   }
   .siguenos-content{
    width: 100%;
    margin: 25px;
   }
}

@media screen and (max-width:480px ) {
    .imagen{
        display: none;
       }
    .siguenos-content{
    width: 100%;
    padding-right: 55px;
    }
    .menu{
        display: none!important;
    }
    body{
        height: 100vh;
    }
    .menu-display{
        justify-content: space-between!important;
    }
    
}
@media screen and (max-width:321px ) {
    .imagen{
        display: none;
       }
    .siguenos-content{
    width: 100%;
    padding-right: 55px;
    
    }
    .menu{
        display: none!important;
    }
    body{
        height: 100%;
    }
    .menu-display{
        justify-content: space-between!important;
    }
    
}